<p id="notice"><%= notice %></p>

<h1>Compositions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Dimension</th>
      <th>Materials</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compositions.each do |composition| %>
      <tr>
        <td><%= composition.name %></td>
        <td><%= composition.description %></td>
        <td><%= composition.dimension %></td>
        <td><%= composition.materials %></td>
        <td><%= composition.image %></td>
        <td><%= link_to 'Show', composition %></td>
        <td><%= link_to 'Edit', edit_composition_path(composition) %></td>
        <td><%= link_to 'Destroy', composition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Composition', new_composition_path %>
