<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @composition.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @composition.description %>
</p>

<p>
  <strong>Dimension:</strong>
  <%= @composition.dimension %>
</p>

<p>
  <strong>Materials:</strong>
  <%= @composition.materials %>
</p>

<p>
  <strong>Image:</strong>
  <%= @composition.image %>
</p>

<%= link_to 'Edit', edit_composition_path(@composition) %> |
<%= link_to 'Back', compositions_path %>
